<a href="https://colab.research.google.com/github/vldslt/GBMATHSTAT/blob/main/dz7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). Произвести расчет как с использованием intercept, так и без.

In [46]:
x = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [47]:
b = (np.mean(x * y) - np.mean(x) * np.mean(y)) / (np.mean(x**2) - np.mean(x) ** 2)
b

2.620538882402765

In [48]:
a = np.mean(y) - b * np.mean(x)
a

444.1773573243596

In [49]:
x = x.reshape((10, 1))
y = y.reshape((10, 1))

In [50]:
x = np.hstack([np.ones((10,1)),x])

array([[  1.,  35.],
       [  1.,  45.],
       [  1., 190.],
       [  1., 200.],
       [  1.,  40.],
       [  1.,  70.],
       [  1.,  54.],
       [  1., 150.],
       [  1., 120.],
       [  1., 110.]])

In [53]:
b = np.dot(np.linalg.inv(np.dot(x.T,x)),x.T@y)
b

array([[444.17735732],
       [  2.62053888]])

Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [55]:
def mse_(B1,y=y,x=x,n=10):
  return np.sum((B1*x-y)**2)/n

In [90]:
alpha = 9e-6

In [95]:
B1 = 0.0001

In [64]:
n = 10

In [96]:
for i in range (5000):
  B1 -=alpha*(2/n)*np.sum((B1*x-y)*x)
  if i%500==0:
    print('iter:{i},B1:{B1}, mse={mse}'.format(i=i, B1=B1, mse=mse_(B1)))

iter:0,B1:1.4734040003200004, mse=857562.90866601
iter:500,B1:5.940918592497966, mse=582580.1077342933
iter:1000,B1:5.940918592497966, mse=582580.1077342933
iter:1500,B1:5.940918592497966, mse=582580.1077342933
iter:2000,B1:5.940918592497966, mse=582580.1077342933
iter:2500,B1:5.940918592497966, mse=582580.1077342933
iter:3000,B1:5.940918592497966, mse=582580.1077342933
iter:3500,B1:5.940918592497966, mse=582580.1077342933
iter:4000,B1:5.940918592497966, mse=582580.1077342933
iter:4500,B1:5.940918592497966, mse=582580.1077342933

In [97]:
for i in range (10):
  B1 -=alpha*(2/n)*np.sum((B1*x-y)*x)
  if i%1==0:
    print('iter:{i},B1:{B1}, mse={mse}'.format(i=i, B1=B1, mse=mse_(B1)))

iter:0,B1:5.940918592497966, mse=582580.1077342933
iter:1,B1:5.940918592497966, mse=582580.1077342933
iter:2,B1:5.940918592497966, mse=582580.1077342933
iter:3,B1:5.940918592497966, mse=582580.1077342933
iter:4,B1:5.940918592497966, mse=582580.1077342933
iter:5,B1:5.940918592497966, mse=582580.1077342933
iter:6,B1:5.940918592497966, mse=582580.1077342933
iter:7,B1:5.940918592497966, mse=582580.1077342933
iter:8,B1:5.940918592497966, mse=582580.1077342933
iter:9,B1:5.940918592497966, mse=582580.1077342933